---
layout: page
---

{% if page.image and page.headerImage %}
    <img class="title-image" src="{{ page.image }}" alt="{{ page.title }}">
{% endif %}

<h1 class="title">{{ page.title }}</h1>

<span class="date">
    <time datetime="{{ page.date | date:"%d-%m-%Y" }}">{{ page.date | date: "%A. %B %d, %Y" }}</time>
    {% if site.read-time %} - {% include read-time.html %}{% endif %}
</span>

{% if site.show-tags %}
    <div class="post-tags">
        {% for tag in page.tags %}
            <a class="item" href="{{ site.url }}/tags/#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
    </div>
{% endif %}

<article class="markdown-body">
    {{content}}
</article>

{% if site.post-advance-links contains page.category %}
    <div class="blog-navigation">
        {% if page.previous.hidden == false and page.previous.url %}
            <a class="prev" href="{{ site.url }}{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
        {% else %}
            <a class="prev"></a>
        {% endif %}
        {% if page.next.hidden == false and page.next.url %}
            <a class="next" href="{{ site.url }}{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
        {% endif %}
    </div>
{% endif %}

{% if site.related %}
    {% include related.html %}
{% endif %}

<div id="comments">
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <style>
        .gitment-container a {
          border: none;
        }
        .comments {
          margin: 60px 0 0;
        }
    </style>
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js" type="text/javascript"></script> 
    <script type="text/javascript"> 
        var gitment = new Gitment({
            id: '{{ page.date }}',
            owner: 'KiritoBeater',
            repo: 'KiritoBeater.github.io',
            oauth: {
                client_id: 'ca700beee442adf563d4',
                client_secret: '548f226377b26c2d114dd13c703e228e0ef2de7f',
            }
        });
        gitment.render('comments');
    </script> 
</div>